<html>
<head>
    {{ content_for_header }}
    {% section 'header' %}
    <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet">
</head>
<body>
    <input id="moneysymbol" type="hidden" value = "{{ cart.currency.symbol }}">
    {{ content_for_layout }}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
</body>
</html>
