{% stylesheet %}
.banner-overlay {
    position: relative;
}
.banner-overlay__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.banner-overlay__content.center {
    align-items: center;
    justify-content: center;
}
  
.banner-overlay__content.bottom-center {
    justify-content: center;
    align-content: flex-end;
}

.banner-overlay__content.bottom-left {
  justify-content: left;
  align-content: flex-end;
}

.is-h2 {
    font-size: 50px;
}

.banner-overlay__button {
    color: #fff;
    padding: 10px 32px;
    display: inline-block;
    text-decoration: none;
    margin-top: 24px;
    border: 1px solid #fff;
    border-radius: 40px;
    transition-duration:.35s;
    &:hover{
        color:#000;
        background:#fff;
    }
}
  
{% endstylesheet %}

<div class="banner-overlay">
  {% if section.settings.banner_image != blank %}
    <div class="banner-overlay__image">
      <img src="{{ section.settings.banner_image | image_url: width: 1600 }}" alt="Banner Image" loading="lazy">
    </div>
  {% endif %}

  <div class="banner-overlay__content {{ section.settings.content-position }}">
    <div class="banner-overlay__content-wrapper" >
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            {% if block.settings.heading != blank %}
              <h2>{{ block.settings.heading }}</h2>
            {% endif %}
          {% when 'text' %}
            {% if block.settings.text != blank %}
              <p>{{ block.settings.text }}</p>
            {% endif %}
          {% when 'button' %}
            {% if block.settings.botton_label != blank and block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="banner-overlay__button">
                {{ block.settings.botton_label }}
              </a>
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "section",
  "name": "Banner & Overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "select",
      "id": "content-position",
      "label": "Content Position",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "label": "Bottom Center",
          "value": "bottom-center"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "botton_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner & Overlay",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "Welcome to Our Store"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "Check out our latest collection."
          }
        },
        {
          "type": "button",
          "settings": {
            "botton_label": "Shop Now",
            "link": "/collections/all"
          }
        }
      ]
    }
  ]
}
{% endschema %}
