<div class="drawer container">
  <div class="wrapper">
    {% comment %} <h2>Your Cart IS <span>{{ cart.item_count }}</span></h2> {% endcomment %}
    {% form 'cart', cart %}
      {% for item in cart.items %}
        <div class="cart_item">
          <div class="image">
            <a href="{{ item.url }}">
              <img src="{{ item.image | img_url: 'master' }}">
            </a>
           </div>
          <div class="info">
            <a href="{{ item.url }}">
              <h3>{{ item.title }}</h3>
            </a>
            <p>{{ item.price | money }}</p>
          </div>
        </div>
      {% endfor %}
      <div class="cart_info-n-checkout">
        <div class="cart-info">
          <p><span>Subtotal:</span><span>{{ cart.total_price |  money }}</span></p>
          <p>Thanks for chosing us!</p>
        </div>
        <button type="submit" id="checkoutButton">Checkout</button> 
      </div>
    {% endform %}
  </div>
</div>

<script>
  document.getElementById('checkoutButton').addEventListener('click', function(e) {
    e.preventDefault();
    document.querySelector('form').submit();
    window.location.href = '/checkout';
  });
</script>
