<div class="{{ section.id }}">
  {% if section.settings.collection %}
    {% assign collection = collections[section.settings.collection] %}
    {% for product in collection.products %}
      <div class="product">
        <div class="prodct-img">
          <a href="{{ product.url }}">
           <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
          </a>
        </div>
        <div class="product-info">
          <a href="{{ product.url }}">
            <h3>{{ product.title }}</h3>
          </a>
          <p>{{ product.price | money }}</p>
        </div>
        {% form 'product', product %}
          <div class="quntity-selector">
            <button class="quantity-plus" type="button">+</button>
           <input class ="quantity-selector" type="number" id="quantity" min="1" value="1" disabled >
           <button class="quantity-minus" type="button">-</button>
           </div>
          <button type="submit">Add to cart</button>
        {% endform %}
      </div>
    {% endfor %}
  {% else %}
    <p>No products available in the selected collection.</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Product List",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Product List"
    }
  ]
}
{% endschema %}
