{% style %}
  .product {
      display: flex;
      flex-wrap: wrap;
      padding: 0 60px;
  }
  
  .product .gallery {
      flex: 0 0 50%;
  }
  
  .product .product-info {
      flex: 0 0 50%;
      padding-left: 30px;
  }
{% endstyle %}

<div class="product" >
  <div class="gallery" >
    <img src="{{ product.featured_image | image_url: width: 500, height: 500  }}" >
  </div>
  <div class="product-info" >
    <h2 class="product-title" >{{ product.title }}</h2>
    <p>{{ product.price | money }}</p>
    <div class="product-description" >
      {{ product.description }}
    </div>
    <div class="varinat-options" >
      {% form 'product', product %}
        <input type="hidden" id="variant-id" value="{{ product.selected_or_first_available_variant.id }}" name="id" >
         {% for option in product.options_with_values %}
           <h3>{{ option.name }}</h3>
          {% for value in option.values %}
             <input type="radio" id="{{ value.id }}" value="{{ value }}" name="{{ option.name }}" {% if option.selected_value == value %}checked{% endif %}>
             <label for="{{ value.id }}" >{{ value }}</label>
          {% endfor %}
         {% endfor %}
        <button class="atc-button" >Submit</button>
      {% endform %}
    </div>
  </div> 
</div>

<script>
  document.querySelectorAll('.product-info .varinat-options input[type="radio"]').forEach(radio =>{
    radio.addEventListener('change',()=>{
      let selectedOptions = [];
      document.querySelectorAll('.product-info .varinat-options input[type="radio"]:checked').forEach(cRadio =>{
        selectedOptions.push(cRadio.value);
      })
       console.log(selectedOptions);
    })
  });
</script>


{% schema %}
  {
    "name": "Product",
    "settings": [],
    "presets": [
      {
        "name": "Product",
      }
    ]
  }
{% endschema %}