<div class="product_section">
  {% form 'product', product %}
    <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <div class="product">
      <div class="product_image">

      {% if product.selected_or_first_available_variant %}
        <img src="{{ product.selected_or_first_available_variant | img_url: 'master' }}" alt="{{ product.selected_or_first_available_variant.title | escape }}">
      {% else %}
        <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title | escape }}">
      {% endif %}
      
      </div>
      <div class="product-info">
        <h2 class="title">{{ product.title }}</h2>
        <p class="price">
          {{ cart.currency.symbol }}
          <span>
           {{ product.price | money_without_currency }}
          </span>
        </p>
        {% if product.variants.size > 1 %}
          <div class="product-option">
            {% for option in product.options_with_values %}
              <div class="option-name">
                <p>{{ option.name }}</p>
                {% for value in option.values %}
                  <input type="radio"
                         {% if option.selected_value == value %}
                         checked
                         {% endif %}
                         name="{{ option.name }}"
                         value="{{ value }}"
                         id="{{ option.name }}-{{ value }}">
                  <label for="{{ option.name }}-{{ value }}">{{ value }}</label>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <div class="quantity-selector">
          <button class="quantity-plus" type="button">+</button>
          <input class="quantity" name="quantity" type="number" id="quantity" min="1" value="1" >
          <button class="quantity-minus" type="button">-</button>
        </div>
      </div>
      <button type="submit">Add to cart</button>
    </div>
  {% endform %}
</div>

<script>
  var product = {{ product | json }};
</script>

{% schema %}
{
  "name": "Section name",
  "settings": [],
  "presets": [
    {
      "name": "Product"
    }
  ]
}
{% endschema %}
